<h2>GIVE</h2>
<ul>Donate your unwanted pictures.  The blurry pics, the ones with your finger over the lens, anything you were planning on deleting.</ul>

<h2>TAKE</h2>
<ul>Search through the free respository  and take as many pics as you like and use them to your hearts content (it would be nice if you attribute us as the source but that's up to you.</ul>



<h2>HELP</h2>
<ul>Please go through the donated pics.  Add your comments, so other people can search to find pics (e.g. if the picture has a bridge in it you might mention that, so someone searching for a bridge pic can find it too.  Make bad pics good by attaching your great observations and in turn making them searable for others.</ul>


<h2>TERMS & CONDITIONS</h2>

<ol>
  <li>Don't donate anything that you may want.  You're relinguishing all cliams to authorship and copyright by donating your pics here and anyone can then use your pic for any purpose without attribution or credit. In other words, donate means you donated your pic(s) for all the world to see and use.So don't toss it in unless you really mean to.</li><br>

  <li>Don't donate pics that don't belong to you.</li><br>

  <li>Pictures whose content is soley intended to harm others, to defame, to ....
  don't belong here.</li><br>

  <li>Pictures which are intended to promote commercial products or websites are not really appropriate, donating those sorts of pictures means you are relinghining your copyright to those images by submitting them and you are consenting to all comments, manipulations, uses from now until the end of the world which would be a mistake -- right?</li><br>

  <li>Don't be an asshole.  Be generous in spirit.  Pic Donation Box is like one of those 'give a penny get a penny' dishes, so please leave more than you take.
</li>

