<div class="row">
  <div class="span4">
                <%#= link_to new_image_path do %>
            <h1>DONATE YOUR UNWANTED PICS</h1><h1><i class="fa fa-picture-o fa-5x"></i></h1>
            <%# end %>
  </div>
  <div class="span4">
               <%#= link_to rescue_images_path do %>
             <h1>SALVAGE DONATED ORPHAN PICS<h1/><h1><i class="fa fa-medkit fa-5x"></i></h1>
            <%# end %>

  </div>
  <div class="span4">
          <%#= link_to images_path do %>
            <h1>DISCOVER AMAZING FREE PICS  </h1><h1><i class="fa fa-eye fa-5x"></i></h1>
            <%# end %>
  </div>
</div>








