<div class="row">
  <div class="span4">
                <%= link_to new_image_path do %>
            <h1>GIVE A PIC</h1><h1><i class="fa fa-picture-o fa-4x"></i></h1>
            <% end %>
  </div>
  <div class="span4">
               <%= link_to images_path  do %>
             <h1>TAKE A PIC  </h1><h1><i class="fa fa-gift fa-4x"></i></i></h1>

            <% end %>

  </div>
  <div class="span4">
          <%= link_to rescue_images_path do %>
            <h1>HELP A PIC<h1/><h1><i class="fa fa-medkit fa-4x"></i></h1>
            <% end %>
  </div>
</div>








