<h1>Click On A Pic. Add A Description.  Say What It Is, Or What It Might Be.
Your Comments Will Become Searchable And Help Other Users' Find The Pics They Need.</h2>

<% @images.each do |image| %>

  <%= link_to image_tag(image.image.url(:thumb), style:'width:100px; height:100px'), image_path(image) %>
  <%= image.id %>
<% end %>
