<h1>TAKE ANY PICTURE YOU LIKE AND USE IT AS YOU WISH, THESE IMAGES HAVE BEEN REGISTERED WITH THE FREE IMAGE REPOSITORY AS OPEN SOURCE AND ROYALTY FREE.</h1>

  <%= image_tag @image.image %>
<p>
    Comments:
</p>
<ul>
  <% @image.comments.each do |comment| %>
    <ol><%= comment.content %></ol>

  <% end %>
</ul>


