<h1>Use Any Picture As You Wish. These Images Have Been Registered With The Free Image Repository As Open Source And Royalty Free. Please Add Your Observations In Comments To Help Others</h1>

  <%= image_tag @image.image %>
<p>
    Comments:
</p>
<ul>
  <% @image.comments.each do |comment| %>
    <ol><%= comment.content %></ol>

  <% end %>
</ul>


<%= render 'rescue', locals: {image: @image} %>
